<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample Test Suite" verbose="1" >
  <test name="Method Test Cases" >
    <classes>
       <class name="project.Login" />
       <class name="project.addClaim">
        
        <methods>
        <!-- <include name="invalidLogin" /> -->
        <!--  <exclude name="validLogin" /> -->
      </methods>
       </class>
    </classes>
  </test>
</suite>

